{% extends 'base.html.twig' %}

{% block title %}my_academic_project{% endblock %}

{% block body %}
 <body style="background-color: yellow;"> 
  
    
        <h1 class="my-4" style="color: red;">Ajouter une Formation</h1>

        <div class="row">
            <div class="col-md-6">
                {{ form_start(form) }}
                
                <div class="mb-3">
                    {{ form_label(form.titre, 'Nom de formation', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="mb-3">
                    {{ form_label(form.price, 'price de formation', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="mb-3">
                    {{ form_label(form.duree, 'duree de formation', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.duree, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="mb-3">
                    {{ form_label(form.begin_at, 'Date de création', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.begin_at, {'attr': {'class': 'form-control'}}) }}
                </div>

                <button type="submit" class="btn btn-primary" style="color: red;">Ajouter</button>
                {{ form_end(form) }}
               
            </div>
        </div>

        <div class="mt-3">
            <a href="{{ path('liste_formation') }}" class="btn btn-secondary" style="color: red;">Retour à la liste des formations</a>
        </div>
    </div>
{% endblock %}